<%= content_for(:navigation) do %>
  <%= link_to "Back to Main", root_url, :class => "btn btn-info" %>
<% end %>
<% content_for(:header) do %>
  <div class="header">
    <h4><%= @question.question %>
  </div>

  <% # need to display all answers to this current question %>
  <%= link_to "Answer Question", new_question_answer_path(@question.id), :class => "btn btn-info btn-sm" %>
<% end %>

